
@media (max-width: 576px) {
    .navbar-main {
        flex-direction: row;
        padding: 10px;
    }

    .nav-btn-container {
        display: none;
    }

    .icon {
        display: block;
    }

    .banner-section-main {
        flex-direction: column;
        height: auto;
        padding: 20px;
    } 
    .banner-section-child{
        width:auto;
    }
    .banner-section-child img {
        width: 100%;
        margin-top: 20px;
    }
    .banner-section-main-text {
        font: size 2.5em;rem;
    }

    .free-workout{
            left: 65%;
            transform: translateX(-50%);
            top: 550px;
    }
    .video-tutorial{
        left: 20%;
        transform: translateX(-50%);
        top: 800px;
    }

    .change-habits {
        height: auto; 
        text-align: center;
        gap: 10px;
    }
    .habits-imag {
    flex-direction: column;
     align-items: center;
    margin: 0 auto;} 

    .img1, .img2, .img3, .img4 {
        width: 50%;
        height: auto;
        margin-bottom: 20px;
    }
    .img-title {
        display: none;
    }

    .Run-an-extra {
        flex-direction: column;
        padding: 20px;
        height: auto;
    }

    .Run-an-extra img {
        width: 100%;
        margin-top: 10px;
    } 
    .run-title {
        font-size: 36px;
    }
        .btn-3 {
            align-self: center;
            width: 100%;
        }
        #BMI, #BMI-p {
            font-size: 24px;
            margin-left: 0; 
            padding-left: 20px;
        }

    .bmi-section {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .bmi-main {
        width: 100%;
        text-align: center;
        margin: 20px 0;
    }
    table, th, td {
        font-size: 20px;
        padding: 10px;}
        #Select{
            padding: 5% 10%;
        }

    .team-section {
        height: auto;
        padding: 20px;
    }
    .team-img {
        grid-template-columns: 1fr;
        gap: 20px;
    }


    .trainer-1, .trainer-2, .trainer-3, .trainer-4, .trainer-5, .trainer-6 {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    .team-h {
        font-size: 36px;
        margin: 20px 0;
    }

    .footer-main {
        height: auto;
        flex-direction: column;
        padding: 20px;
        gap: 20px;
    }
    .footer-h {
        font-size: 40px;
    }
    .footer-texts-1, .footer-menu-1, .footer-menu-2 {
        font-size: 20px;
    }
    .right {
        font-size: 14px;
        padding: 20px;
    }
}