/* @media screen and (max-width:800) {
.navbar-main{
    flex-direction: column;
    align-items: center;
} */
    

@media screen and (max-width:576) {
    .icon{
        display: block;
        
    }
    .nav-btn-container{
        display: none;
    }
    .navbar-main{
    align-items: center;
        flex-direction: column;
    }
    .banner-section-main{
        flex-direction: column;
    }
.banner-section-child img{
    width: 100%;
}

}