@media screen and (max-width:576) {
    .icon{
        display: block;
        
    }
    .nav-btn-container{
        display: none;
    }
    .navbar-main{
    display: flex;
        flex-direction: column;
    }
    .banner-section-main{
        display: flex;
        flex-direction: column-reverse;

    }
    .habits-imag{
        display: flex;
        flex-direction: column;

    }



}